.Header {
  background: #212529;
  font-family: Roboto, sans-serif;
  color: white;

}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header h1 {
  color: #fff;
  border-bottom: 1px solid #fff;
  border-radius: 6px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.currency-value-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  overflow: hidden;
  max-width: 170px;
}

.item-currency {
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 6px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}